<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<!-- 通用配置开始   -->
	<context-param>
	    <param-name>contextClass</param-name>
        <param-value>org.springframework.web.context.support.XmlWebApplicationContext</param-value>
	</context-param>
    <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:chapter10/applicationContext-message.xml,
			classpath:chapter10/struts2x/struts2x-servlet.xml
		</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 通用配置结束   -->

	<!-- Struts1.x前端控制器配置开始   -->
	<servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>

        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/classes/chapter10/struts1x/struts-config.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
	<!-- Struts1.x前端控制器配置结束   -->
	
	
	<!-- Struts2.x前端控制器配置开始   -->
	<filter>
        <filter-name>struts2x</filter-name>
        <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
        <init-param>
			<param-name>config</param-name>
			<param-value>struts-default.xml,struts-plugin.xml,chapter10/struts2x/struts.xml</param-value>
		</init-param>
    </filter>
    <filter-mapping>
        <filter-name>struts2x</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
	<!-- Struts2.x前端控制器配置结束   -->
    
    <!-- JSF配置文件开始 -->
    <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>/WEB-INF/classes/chapter10/jsf/faces-config.xml</param-value>
    </context-param>
    <!-- JSF配置文件结束 -->
  
	<!-- jsf前端控制器配置开始   -->
    <servlet>
        <servlet-name>jsf</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>jsf</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
	<!-- jsf前端控制器配置结束   -->
</web-app>