<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    

    <bean id="dataSource1" class="com.atomikos.jdbc.AtomikosDataSourceBean" 
           init-method="init" destroy-method="close"> 
        <property name="uniqueResourceName" value="jdbc/test1"/> 
        <property name="xaDataSourceClassName" value="org.apache.derby.jdbc.EmbeddedXADataSource"/> 
        <property name="poolSize" value="5"/> 
        <property name="xaProperties"> 
            <props> 
                <prop key="databaseName">test1</prop> 
                <prop key="createDatabase">create</prop> 
            </props> 
        </property> 
    </bean> 

    <bean id="dataSource2" class="com.atomikos.jdbc.AtomikosDataSourceBean" 
           init-method="init" destroy-method="close"> 
        <property name="uniqueResourceName" value="jdbc/test2"/> 
        <property name="xaDataSourceClassName" value="org.apache.derby.jdbc.EmbeddedXADataSource"/> 
        <property name="poolSize" value="5"/> 
        <property name="xaProperties"> 
            <props> 
                <prop key="databaseName">test2</prop> 
                <prop key="createDatabase">create</prop> 
            </props> 
        </property> 
    </bean> 
     
     <bean id="atomikosTransactionManager" 
           class = "com.atomikos.icatch.jta.UserTransactionManager" 
           init-method="init" destroy-method = "close">   
        <property name="forceShutdown" value="true"/>   
    </bean>   
   
    <bean id="atomikosUserTransaction" class="com.atomikos.icatch.jta.UserTransactionImp">   
    </bean>   
   
    <bean id="txManager" class="org.springframework.transaction.jta.JtaTransactionManager">   
        <property name="transactionManager">   
            <ref bean="atomikosTransactionManager"/>   
        </property>   
        <property name="userTransaction">   
            <ref bean="atomikosUserTransaction"/>   
        </property>   
    </bean>    

</beans>


